@{
    ViewData["Title"] = "Index";
}

@model Settings

<form asp-controller="Settings" asp-action="ChangeDatabase">
    <select asp-for="databaseType" asp-items="Html.GetEnumSelectList<EDatabaseType>()"></select>
    <button type="submit">Güncelle</button>
</form>